.order-container {
  height: 100%;
  overflow: auto;
  width: 100%;
  display: inline-block;
  .left {
    display: inline-block;
    width: calc(100% - 1005px);
  }
  .right {
    width: 800px;
    position: relative;
    display: inline-block;
  }
}
