<div class="order-container">
  <div class="left">

  </div>
  <div class="right" id="rect">
      <img src="assets/images/map.jpg" alt="" style="width: 100%">
      <div id="plane" >
          <ng-container *ngFor="let route of routes; let routeIndex = index">
            <div (click)="selectRoute(route.id)" *ngFor="let pos of route.positions; let index = index" id="route{{routeIndex}}line{{index}}"
                  style="background: cyan; position: absolute; height: 7px; border-radius: 7px; cursor: pointer; border: 2px dashed yellow;"
                  [class]="'route' + route.id"
                  [ngStyle]="{background: route.id === selectedRoute ? 'green' : 'cyan',
                              border: route.id === selectedRoute? '2px dashed yellow': 'none'}"></div>
          </ng-container>
      </div>
  </div>
</div>
