@font-face {
  font-family: "Source Sans Pro";
  src: url('assets/fonts/SourceSansPro-Regular.ttf');
  src:
    url("assets/fonts/SourceSansPro-Regular.ttf") format("woff"),
    url("assets/fonts/SourceSansPro-Regular.ttf") format("opentype"),
    url("assets/fonts/SourceSansPro-Regular.ttf") format("svg");
}
body {
  margin: 0;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 14px;
}
